.Heading-div{
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.About-body-div{
    margin: auto;
    padding: 30px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.About-body-text{
    align-items: center;
    width: 50%;
    height: 100%;
}

.About-body-text-para{
   
}

.About-body-image{
    display: flex;
    justify-content: center;
    clip-path: polygon(9% 11%, 9% 89%, 25% 89%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 89%, 90% 89%, 91% 11%);
    height: 100%;
}

.Readmore-button{

        background-color: orange;
        border: solid orange 1px;
        border-radius: 12px;
        padding: 5px;
        transition: 1s;
}

.Readmore-button:hover{
    transform: scale(1.5);
}

